@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --Playfair: "Playfair Display", serif;
  --Quicksand: "Quicksand", sans-serif;
  --Roboto: "Roboto", sans-serif;
  --dark: #3c393d;
  --exDark: #2b2b2b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--Quicksand);
}

html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.4;
  color: var(--dark);
}
img {
  width: 100%;
  display: block;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

/* Header styling start */

header .sticky {
background: crimson;
padding:10px 100px;
}

/*Start design styling*/
.design {
  padding: 4.5rem 0;
}
.title {
  text-align: center;
  padding: 1rem 0;
}
.title h2 {
  font-family: var(--Playfair);
  font-size: 2.4rem;
}
.title p {
  text-transform: uppercase;
  padding: 0.6rem 0;
}
.design-content {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.design-item {
  cursor: pointer;
  margin: 0;
}
.design-img {
  position: relative;
  overflow: hidden;
 width:300px;
 height:450px;
}
.design-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.design-img img {
  transition: all 0.5s ease;
}
.design-item:hover img {
  transform: scale(1.2);
}
.design-img span:first-of-type {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  background: var(--dark);
  padding: 0.25rem 1rem;
  color: #fff;
}
.design-img span:last-of-type {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}
.design-title {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.design-title a {
  font-family: var(--Roboto);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--dark);
  color: #fff;
  padding: 0.55rem 1.2rem;
  background: var(--dark);
  transition: all 0.5s ease;
}


.blog {
  background: #f9f9f9;
  padding: 4.5rem 0;
}
.blog-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 0;
}
.blog-img {
  position: relative;
}
.blog-img span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: var(--dark);
  color: #fff;
  font-size: 1.4rem;
  padding: 0.3rem 0.6rem;
}
.blog-text {
  margin: 2.2rem 0;
  padding: 0 1rem;
}
.blog-text span {
  font-weight: 300;
  display: block;
  padding-bottom: 0.5rem;
}
.blog-text h2 {
  font-family: var(--Playfair);
  padding: 1rem 0;
  font-size: 1.65rem;
  font-weight: 500;
}
.blog-text p {
  font-weight: 300;
  font-size: 1.1rem;
  opacity: 0.9;
  padding-bottom: 1.2rem;
}
.blog-text a {
  font-family: var(--Roboto);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--dark);
  color: #fff;
  padding: 0.55rem 1.2rem;
  background: var(--dark);
  transition: all 0.5s ease;
}

.about {
  padding: 4.5rem 0;
}
.title {
  text-align: center;
  padding: 1rem 0;
}
.title h2 {
  font-family: var(--Playfair);
  font-size: 2.4rem;
}
.title p {
  text-transform: uppercase;
  padding: 0.6rem 0;
}
.about-content {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.about-item {
  cursor: pointer;
  margin: 0;
}
.about-img {
  position: relative;
  overflow: hidden;
}
.about-img::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.about-img img {
  transition: all 0.5s ease;
}
.about-item:hover img {
  transform: scale(1.2);
}
.about-img span:first-of-type {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  background: var(--dark);
  padding: 0.25rem 1rem;
  color: #fff;
}
.about-img span:last-of-type {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}
.about-title {
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.about-title a {
  font-family: var(--Roboto);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--dark);
  color: #fff;
  padding: 0.55rem 1.2rem;
  background: var(--dark);
  transition: all 0.5s ease;
}

.about-text a:hover {
  background: var(--exDark);
}

@media only screen and (max-width: 800px) {
  .navbar-nav a{
    display: none;
  }
  .navbar-nav i{
    display: block;
    font-size: 1.3rem;
    color: #fff;
    cursor: pointer;
    transition: opacity .5s ease;
  }
  .navbar-nav i:hover{
    opacity: .7;
  }
  .banner-title{
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
  }
  .design-content {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }

  

  .about-content {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 3rem;
    align-items: center;
  }
  .menu-btn {
    position: absolute;
    background: url(menu.png) no-repeat;
    background-size: 30px ;
    background-position: center;
    width: 40px;
    height: 40px;
   right: 0;
   margin: 0 20px;
   cursor: pointer;
   transition:  .4s ease;
  }

  section {
    padding: 80px 20px;
  }

  .title h2 {
font-size: 17px;
  }

}

@media (max-width: 1049px) {
 {
      padding: 12px 20px;
  }
header .navbar nav {
  display: none;
  
}

.menu-btn {
  position: absolute;
  background: url(menu.png) no-repeat;
  background-size: 30px ;
  background-position: center;
  width: 40px;
  height: 40px;
 right: 0;
 margin: 0 20px;
 cursor: pointer;
 transition:  .4s ease;
}
section {
  padding: 80px  20px;
}
}
